{% extends "layoutpadrao.njk" %}

{% block styles %}
        <title>Colaboradores</title>

        <link rel="stylesheet" href="colaboradores.css">
        <script type="text/javascript" src="/scripts/script.js"> </script>
{% endblock %}

{% block content %}
    
    <div class="title">
        <h1>Colaboradores</h1>
    </div>

    <div class="card">
        <section class="userimg">
            <div class="foto">
                <img src="/img/Stéphanie2.png" alt="imagem de user">
            </div>
            <div class="icons">
                <div class="type">
                    <div class="icon">
                        <img src="/img/user-tie.svg" alt="imagem de user">
                    </div>
                    
                </div>
               
            </div>
        </section>
        <section class="userinfo">
            <h3>Informações</h3>

            <div class="info">
                <div class="question">Nome:</div>
                <div class="answer">Stéphanie Schulze da Silva Ramires</div>
            </div>
            <div class="info">
                <div class="question">Aniversário:</div>
                <div class="answer">03/08/1995</div>
            </div>
            <div class="info">
                <div class="question">Sexo:</div>
                <div class="answer">Feminino</div>
            </div>
            <div class="info">
                <div class="question">função:</div>
                <div class="answer">Síndica</div>
            </div>
            <div class="info">
                <div class="question">Descrição:</div>
                <div class="answer">Responsavel pelas lore ipsum dolor inner bla bla bla</div>
            </div>
            <div class="info">
                <div class="question">Contatos:</div>
                <div class="answer">
                    <a href="https://api.whatsapp.com/send?phone=5548984741960&text=Ol%C3%A1%2C%20assim%20que%20poss%C3%ADvel%20responderei%20sua%20mensagem.">
                        <img src="/img/whatsapp.svg" alt="whatsapp">
                    </a>
                    <a href="https://www.facebook.com/steschulze">
                        <img src="/img/facebook.svg" alt="facebook">
                    </a>
                    <a href="https://www.instagram.com/stephaniessramires">
                        <img src="/img/instagram-esbocado.svg" alt="instagram">
                    </a>
                </div>
            </div>
            
        </section>
    </div>


{% endblock %}
