{% extends "layoutpadrao.njk" %}

{% block styles %}
        <title>Felicidade Cadastro - Home</title>

        <link rel="stylesheet" href="home.css">
        <script type="text/javascript" src="/scripts/script.js"> </script>
{% endblock %}

{% block content %}
    
    <div class="title">
        <img src="/img/Felicidade.png" alt="">
    </div>

    <div class="apresentation">
        <div class="textbox">
            <h3>Pode entrar, a sua Felicidade está em casa</h3>
            <p>
                Seus melhores dias em condomínio fechado com lazer completo
            </p>
        </div>
        <div class="imgbox">
            <img src="https://lirp-cdn.multiscreensite.com/5304e3b4/dms3rep/multi/opt/LR_AreaExterna_ALTA_IMG13-640w.jpg" alt="">
        </div>
    </div>

    <div class="apresentation2">
        <div class="imgbox">
            <img src="https://lirp-cdn.multiscreensite.com/5304e3b4/dms3rep/multi/opt/LR_AreaExterna_IMG1-9a6f7873-640w.jpg" alt="">
        </div>

        <div class="textbox">
            <h3>O Felicidade Residencial Clube</h3>
            <p>
                Felicidade é passar um final de semana com a família na área de lazer do condomínio.
                É dormir tranquilo e com segurança. É morar pertinho de tudo que precisa.
                É isso que o Felicidade Residencial Clube proporciona:
                bons momentos em um condomínio pensado em todos os detalhes para oferecer bem-estar em uma ótima
                localização.
            </p>
        </div>
        
    </div>
    <div class="apresentation">
        <div class="textbox">
            <h3>Titulo Aqui</h3>
            <p>
                O texto de paragrafo vai nesse espaço aqui por isso ele é tão grande. 
                Vivemos numa época turbulenta. Uma rápida espiada nas manchetes é
                suficiente para deixar qualquer um preocupado, e – com o fluxo incessante de
                mídia que tomou conta de nossas vidas – é difícil se afastar dessas notícias.
                Ainda pior, a evolução moldou o cérebro humano para ter uma consciência
                aguda dos perigos potenciais. Como exploraremos em capítulos adiante, essa
                funesta combinação exerce um impacto profundo na percepção humana: ela
                literalmente bloqueia nossa capacidade de assimilar boas novas.
            </p>
        </div>
        <div class="imgbox">
            <img src="/img/image_space.png" alt="">
        </div>
    </div>

    <div class="apresentation2">
        <div class="imgbox">
            <img src="/img/image_space.png" alt="">
        </div>

        <div class="textbox">
            <h3>Titulo Aqui</h3>
            <p>
                Isso cria um desafio para nós, já que Abundância é uma história otimista.
                Em seu núcleo, este livro examina os fatos objetivos, a ciência e a engenharia,
                as tendências sociais e as forças econômicas que vêm rapidamente
                transformando nosso mundo. Mas não somos tão ingênuos a ponto de achar que
                não haverá obstáculos ao longo do caminho. Alguns serão grandes obstáculos:
                crises econômicas, desastres naturais, ataques terroristas. Durante esses
                períodos, o conceito de abundância parecerá distante, estranho, até absurdo,
                mas uma breve observação da história mostra que o progresso continua através
                das épocas boas e ruins.
            </p>
        </div>
        
    </div>
    <div class="apresentation">
        <div class="textbox">
            <h3>Titulo Aqui</h3>
            <p>
                O texto de paragrafo vai nesse espaço aqui por isso ele é tão grande. 
                Vivemos numa época turbulenta. Uma rápida espiada nas manchetes é
                suficiente para deixar qualquer um preocupado, e – com o fluxo incessante de
                mídia que tomou conta de nossas vidas – é difícil se afastar dessas notícias.
                Ainda pior, a evolução moldou o cérebro humano para ter uma consciência
                aguda dos perigos potenciais. Como exploraremos em capítulos adiante, essa
                funesta combinação exerce um impacto profundo na percepção humana: ela
                literalmente bloqueia nossa capacidade de assimilar boas novas.
            </p>
        </div>
        <div class="imgbox">
            <img src="/img/image_space.png" alt="">
        </div>
    </div>

    <div class="apresentation2">
        <div class="imgbox">
            <img src="/img/image_space.png" alt="">
        </div>

        <div class="textbox">
            <h3>Titulo Aqui</h3>
            <p>
                Isso cria um desafio para nós, já que Abundância é uma história otimista.
                Em seu núcleo, este livro examina os fatos objetivos, a ciência e a engenharia,
                as tendências sociais e as forças econômicas que vêm rapidamente
                transformando nosso mundo. Mas não somos tão ingênuos a ponto de achar que
                não haverá obstáculos ao longo do caminho. Alguns serão grandes obstáculos:
                crises econômicas, desastres naturais, ataques terroristas. Durante esses
                períodos, o conceito de abundância parecerá distante, estranho, até absurdo,
                mas uma breve observação da história mostra que o progresso continua através
                das épocas boas e ruins.
            </p>
        </div>
        
    </div>

    

{% endblock %}
